gait_monitoring_hotelling_files/
covid_analysis_files/
covid_deaths_files/
covid_analysis_final_files/
trials/
markdown_basics_files/
.Rproj.user
intro_rmarkdown_cache/
intro_rmarkdown_files/
talks/isqc2023/.Rprofile
talks/isqc2023/chatsqc_cache/
talks/isqc2023/chatsqc_files/
/portfolio/projects/fpl/data
talks/enbis2025/data/FLAT_RCL.txt
talks/isqc2025/data/FLAT_RCL.txt

*.Renviron
*.Rproj
*.ini
